#blog-cards{
    display: inline-flexbox;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 1000;
    align-items:center;
    border-radius: 25px;
    width: 100%;
    color: rgb(5, 5, 5);
    background-color: rgb(203, 203, 203);
}

.card-text text-muted h6{
    color: rgb(5, 5, 5);
}

h3{
    color: gold;
}

#comment-cards{
    background-color: rgb(203, 203, 203);
    margin: 0 auto;

}

/* .page-link{
    background-color: rgb(164, 161, 161);
} */
