html {
    height: 100%;
}

#pagetitle{
    color: gold;
    font-family: 'Indie Flower';
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-shadow: black 0px 0px 8px;
}

#topnav{
    color: blue;
}

#mainnavdiv{
    height: 3rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-left: 30% ;
}


h2{
    color: gold;
    font-family: 'Indie Flower';
    font-weight: 600;
}


body {
    background: url('/media/VolleyballNetBeach.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Indie Flower';
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* .logo-font {
    text-transform: uppercase;
} */

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(35, 24, 228);
    color: rgb(252, 235, 41);
    font-weight: 600;
    font-family: 'Indie Flower';
    font-weight: 600;
}

.btn-black {
    background: rgb(35, 24, 228);
    color: rgb(252, 235, 41);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(252, 235, 41);
    color: rgb(35, 24, 228);
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: rgb(247, 243, 122) !important;
    font: 200;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -----------Images ----------------------- */

.img-fluid {
    text-align: center; 
    border-radius: 6px;
    width: 175px;
    height: 200px;
    background-color: white;
  
  }
  .row {
    display: flex;
    margin: auto;
  }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}


/*************** FOOTER *********************/

  
  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #faee6b;
    color: rgb(22, 48, 244);
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px 0px;
   
  }
  
  .copyright {
    background-color:  #faee6b;
    color: rgb(22, 48, 244);
    padding: 0;
    margin-top: 0;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px 2px;
    
  }
  
  .signature{
    color: rgb(22, 48, 244);
    font-size: 1rem;
    font-family: 'Indie Flower';
  }
  
  
  .social-icons{
    color: rgb(22, 48, 244);
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
   
  }
  
  .btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
  }
  
  .btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    color: rgb(22, 48, 244);
  }