{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}


{% block content %}


    <div class="container-fluid justify-content-center mt-5 p-5">
            <h3 class="page-section-heading text-center text-uppercase mt-5 mb-0 p-5">Welcome to our blog!</h3>
            <div class="buttons">
            
            <a href="#" class="btn btn-primary">Add a Post!<i class="fas fa-plus-circle m-2"></i></a>
            </div>
    </div>

<!-- Posted Blog Entries Column -->

<div class="container-fluid">
    <div class="row justify-content-center ">
        <div class="row card-row justify-content-center">
             <div class="col-md-8 mb-4 mt-3 justify-content-center"> 
                  <div class="card-deck">
          
                {% for post in post_list %}
                         <div class="card mb-4 justify-content-center mt-2" id="blog-cards" style="width: 18rem;">
                            <div class="card-body justify-content-center">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                                <p class="card-text">{{post.content|slice:":200" }}</p>
                                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read Comments &rarr;</a>
                            </div>
                        </div>
                {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>

{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

 
{%endblock%}