{% extends 'base.html' %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid justify-content-center mt-5 p-5">
  <h3 class="page-section-heading text-center text-uppercase mt-5 mb-0 p-5">Blog Details</h3>
    <div class="buttons">
      <a href="{% url 'blog_posts' %}" class="btn btn-primary">Go Back to Blogs<i class="fas fa-plus-circle m-2"></i></a>
    </div>
</div>


<div class="container mt-0 p-5">
  <div class="row justify-content-center" id="comment-block">
    <div class="col-md-8 card mb-4 mt-3 justify-content-center" id="comment-cards">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
   

    <!-- COMMENTS SECTION -->
     <div class="col-md-8 card mb-4 mt-3" id="comment-cards">
      <div class="card-body">
        <h2>{{ comments.count }} Comments</h2>


        <!-- {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
              {{ comments_form.name }}
            <span class=" text-muted font-weight-normal">
              {{ comments.email }}
            </span>
          </p>
          {{ comments.body | linebreaks }}
        </div>
        {% endfor %} -->

        {% for comment in comments %}
        <div class="card mb-4 justify-content-center mt-2" id="blog-cards" style="width: 18rem;">
            <div class="card-body justify-content-center">
                <h2 class="card-title">{{ comment.name }}</h2>
                <p class="card-text text-muted h6">{{ comment.email }} | {{ comment.created_on}} </p>
                <p class="card-text">{{comment.body|slice:":200" }}</p>
                <!-- <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read Comments &rarr;</a> -->
            </div>
        </div>
        {% endfor %}



      </div>
    </div> 

    <!-- <div class="row card-row">
      <div class="col-lg-3 deck-col p-4 m-2">
          <div class="card-deck">
            
                  {% for post in post_list %}
                  <div class="card mb-4 justify-content-center mt-2" id="blog-cards" style="width: 18rem;">
                      <div class="card-body justify-content-center">
                          <h2 class="card-title">{{ post.title }}</h2>
                          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                          <p class="card-text">{{post.content|slice:":200" }}</p>
                          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read Comments &rarr;</a> 
                      </div>
                  </div>
                  {% endfor %}
          </div>
      </div>
  </div> -->


<!-- NEW COMMENT / ADD COMMENT SECTION -->
    <div class="col-md-8 card mb-6 mt-3" id="comment-cards">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Got a comment? Leave it here</h3>
        {% load crispy_forms_tags %}
        
        <fieldset class="rounded px-3 mb-5">
          <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>

          <h2 class="card-title">{{ comment_form.name }}</h2>
          <p class="card-text text-muted h6">{{ comment_form.email }} </p>
          <p class="card-text">{{ comment_form.body }}</p>


      <!--- Tired to put  comment_form.name | as_crispy_field 
                          comment_form.email | as_crispy_field  
                          comment_form.body | as_crispy_field.   into here but error recieved: "crispy_forms.exceptions.CrispyError: |as_crispy_field got passed an invalid or inexistent field" -->
      </fieldset>

        <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                <button type="submit" class="btn btn-primary  btn-lg">Submit Comment</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}